<div fxLayout="row" fxLayoutAlign="space-evenly center"  fxLayoutGap="5vh" >


<div class="circle1"  fxFlex="50%" fxFlex.gt-sm="100%"
 >
  <img 
[ngStyle.lg]="{
'position': 'absolute',
'top': '-120%',
'width': '500px',
 'height': '600px'}" 
[ngStyle.md]="{
'position': 'absolute',

'top': '-80%',
'width': '300px',
 'height': '400px'}" 
 [ngStyle.sm]="{
'position': 'absolute',

'top': '-37%',
'width': '200px',
 'height': '300px'}" 
  src="https://www.applevacations.com/siteassets/content/images/all-inclusive-images/gettyimages-497597641.jpg" class="p">
  </div> 

<div class="circle"
  >
  <img
 [ngStyle.lg]="{
'position': 'absolute',
'top': '-120%',
'width': '700px',
 'height': '300px'}" 
[ngStyle.md]="{
'position': 'absolute',
'top': '-70%',
'width': '500px',
 'height': '200px'}" 
 [ngStyle.sm]="{
'position': 'absolute',
'top': '-37%',
'width': '330px',
 'height': '160px'}" 
   src="https://www.applevacations.com/siteassets/content/images/all-inclusive-images/gettyimages-497597641.jpg" class="c">
   </div> 


</div>