a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

#navbar {
  
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    
    top: 0;
    height: 120px;
    width: 100%;
}

