<mat-toolbar color="primary" id="navbar" fxFill>
  <div fxHide.gt-xs>

  </div>
  <div>
      <a routerLink="/home">    <i class="material-icons">
accessibility_new
</i></a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
              <a routerLink="/home">Owner Actions</a>
          </li>
          <li>
              <a routerLink="/home1">Account Actions</a>
          </li>
           <li>
              <a routerLink="/home2">Account Actions</a>
              
          </li>
      </ul>
  </div>
</mat-toolbar>