<div fxLayout="row" fxLayoutAlign="space-around center"  fxLayoutGap="3vh"  >




<div class="circle"
[ngStyle.lg]=
 "{'width': '400px',
  'height': '400px'}"
   [ngStyle.md]=
 "{'width': '300px',
  'height': '300px'}"
   [ngStyle.sm]=
 "{'width': '200px',
  'height': '200px'}"
  ><img [ngStyle.lg]=
 "{'width': '400px',
  'height': '400px'}"
   [ngStyle.md]=
 "{'width': '300px',
  'height': '300px'}"
   [ngStyle.sm]=
 "{'width': '200px',
  'height': '200px'}" 
       [ngStyle.xs]=
 "{'width': '100px',
  'height': '100px'}" 
  src="https://www.applevacations.com/siteassets/content/images/all-inclusive-images/gettyimages-497597641.jpg"></div> 

<div class="circle" 
[ngStyle.lg]=
"{'width': '400px',
 'height': '400px'}"
  [ngStyle.md]=
 "{'width': '300px',
  'height': '300px'}"
  [ngStyle.sm]=
 "{'width': '200px',
  'height': '200px'}"><img [ngStyle.lg]=
 "{'width': '400px',
  'height': '400px'}"
   [ngStyle.md]=
 "{'width': '300px',
  'height': '300px'}"
   [ngStyle.sm]=
 "{'width': '200px',
  'height': '200px'}" 
       [ngStyle.xs]=
 "{'width': '100px',
  'height': '100px'}" 
  src="https://www.applevacations.com/siteassets/content/images/all-inclusive-images/gettyimages-497597641.jpg"></div> 

<div class="circle"
[ngStyle.lg]=
"{'width': '400px',
 'height': '400px'}"
  [ngStyle.md]=
 "{'width': '300px',
  'height': '300px'}"
   [ngStyle.sm]=
 "{'width': '200px',
  'height': '200px'}"
  ><img [ngStyle.lg]=
 "{'width': '400px',
  'height': '400px'}"
   [ngStyle.md]=
 "{'width': '300px',
  'height': '300px'}"
   [ngStyle.sm]=
 "{'width': '200px',
  'height': '200px'}"
     [ngStyle.xs]=
 "{'width': '100px',
  'height': '100px'}"  
  src="https://www.applevacations.com/siteassets/content/images/all-inclusive-images/gettyimages-497597641.jpg"> </div> 

</div> 